**/cli-history/
**/ssh-keydir
**/confd-cdb/
*.fxs
*.log
*.pyc
*.access
*.trace
*.o
global.data
confderr.*
*_ns.py
__init__.py
bookzone-example.h
purchase_action
send_notif

**/netsim
**/ncsc-out
**/private-jar
**/shared-jar
**/build/classes
**/namespaces/*.java
**/state
